.bg-container {
  background-image: linear-gradient(#9796f0, #a1a1c5, #d1abb5);
  height: 100vh;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.emojis-list-container {
  list-style-type: none;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

@media (min-width: 768px) {
  .emojis-list-container {
    gap: 20px;
  }
}

.buttons-container {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.back-button {
  color: #334155;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  outline: none;

  display: flex;
  flex-direction: row;
  gap: 10px;
}

.rules-button {
  color: #334155;
  font-family: Roboto;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0%;

  background-color: transparent;
  border: 1px solid #334155;
  border-radius: 8px;
  border-width: 2px;
  padding: 8px 16px;
}

.modal-heading {
  color: #334155;
  font-family: 'Roboto';
  text-align: center;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modal-rules-list {
  color: #475569;
  font-family: 'Roboto';
  font-weight: 500;
  line-height: 32px;
}
