.emoji-game-rules-view-container {
  background-image: linear-gradient(#9796f0, #fbc7d4);
  min-height: 100vh;
  padding: 30px 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.rules-view-responsive-container {
  width: 85%;
}

.back-button {
  background-color: transparent;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;

  display: flex;
  flex-direction: row;
  gap: 10px;
}

.rules-card {
  width: 1201;
  height: 776;
  padding: 30px;
  margin-top: 20px;
  border-radius: 12px;
  border-width: 3px;

  background: #ffffff33;
  border: 3px solid #ffffff30;
  backdrop-filter: blur(20px);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

@media screen and (max-width: 767px) {
  .rules-card {
    flex-direction: column;
    gap: 0px;
  }
}

.game-image-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rules-view-game-image {
  width: 450px;
  height: 380px;
}

.emoji-game-title {
  font-size: 45px;
}

@media screen and (max-width: 767px) {
  .rules-view-game-image {
    width: 250px;
    height: 200px;
  }

  .emoji-game-title {
    font-size: 30px;
  }
}

.rules-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rules-heading {
  color: #334155;
  font-family: 'Roboto';
  font-size: 32px;
  margin-bottom: 0;
  text-align: center;
}

.rules-list {
  color: #475569;
  margin: 0;
}

.rule-text {
  font-family: 'Roboto';
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .rules-heading {
    font-size: 24px;
  }

  .rules-list {
    padding: 10px;
  }

  .rule-text {
    font-size: 16px;
  }
}

.start-playing-button {
  background-color: #334155;
  color: white;
  font-size: 20px;
  border-radius: 12px;
  padding: 12px 24px;
  margin-top: 20px;
  border: none;
  outline: none;
}

@media screen and (max-width: 767px) {
  .start-playing-button {
    font-size: 12px;
    margin-top: 0;
  }
}
